.navbar01 {
    /* color: red; */
    height: 80px;
    width: 100%;
    background: lightgrey;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* justify-content: center; */
}

.navbar-logo {
    /* color: blue; */
    /* border: solid 1px goldenrod; */
    margin-left: 40px;
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.narbar-menu {
    /* color: pink; */
}

.list-items {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-right: 3rem;
    
}


button {
    border: none;
    background: lightgrey;
    list-style: none;
    cursor: pointer;
    font-size: 1.1rem;
    /* background-color: white; */
    border-radius: 10px;
    width: 100%;
    height: 30px;
    margin: 10px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: rgb(56, 120, 56);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #fff;
}

.name-model:hover {
    color:  rgb(56, 120, 56);
}


/* to try media query next time I got time */
/* @media screen and (max-width: 960px) {
    button:hover {
        background-color: rgb(107, 23, 163);
    }
} */
